[submodule "plugins"]
	path = plugins
	url = https://github.com/nunomourinho/forensicVM-Plugins.git
[submodule "bin/volatility3"]
	path = bin/volatility3
	url = https://github.com/volatilityfoundation/volatility3.git
