setup/repo/forensic-vm-1.0/forensicVM/main/env_linux/lib/python3.9/site-packages/PySide2/Qt/lib/libQt5WebEngineCore.so.5 filter=lfs diff=lfs merge=lfs -text
../../bin/win10bootp1.raw filter=lfs diff=lfs merge=lfs -text
../../bin/win10_mbr_backup.bin filter=lfs diff=lfs merge=lfs -text
