apscheduler
pandas
scipy
statsmodels
python-docx
xlwt
django-excel-response
aiofiles
paramiko
psutil
speedtest-cli
pandas
altgraph
asgiref
attrs
auto-py-to-exe
Automat
bottle
bottle-websocket
certifi
cffi
chardet
charset-normalizer
click
colorama
channels
constantly
cryptography
Django
django-extensions
django-revproxy @ https://github.com/jazzband/django-revproxy/archive/refs/tags/0.11.0.zip#sha256=182206aa1d1719aa5abf7379efb45ccb93c0d7088b8a25d8a69c67459c1d547e
django-session-timeout
django-upgrade
djangorestframework
docopt
Eel
future
gevent
gevent-websocket
gpg
greenlet
guibot
gunicorn
httplib2
hyperlink
idna
imagemounter
incremental
iotop
IProgress
MarkupSafe
MouseInfo
numpy
pefile
Pillow
pipreqs
psutil
pycparser
pycurl
python_docx
pygame
PyGetWindow
pyinstaller
pyinstaller-hooks-contrib
pyOpenSSL
pyparsing
pyperclip
PyRect
PySide2
PySimpleSOAP
python-apt
python-debian
python-debianbts
python3-xlib
pytweening
pytz
PyWebDAV3
pywin32-ctypes
PyYAML
qemu
qemu.qmp
qmp
reportbug
requests
shiboken2
six
sqlparse
tabulate
termcolor
tokenize-rt
tqdm
Twisted
typing_extensions
tzdata
urllib3
vnc2flv-rec
vncdotool
websockify
Werkzeug
whichcraft
yarg
zope.event
zope.interface
