<!-- templates/main.html -->

<!DOCTYPE html>
<html>
<head>
  {% block header %}{% endblock %}
  <script>
    function showAlert(message, color = 'w3-green') {
      var alertContainer = document.getElementById('alertContainer');
      var alertElement = document.createElement('div');
      alertElement.classList.add('alert');
      alertElement.classList.add('w3-panel');
      alertElement.classList.add(color);
      alertElement.classList.add('w3-display-container');

      var closeButton = document.createElement('span');
      closeButton.classList.add('w3-button');
      closeButton.classList.add('w3-display-topright');
      closeButton.textContent = '×';
      closeButton.onclick = function() {
        alertElement.classList.remove('show');
      };

      var messageElement = document.createElement('p');
      messageElement.classList.add('alert-message');
      messageElement.textContent = message;

      alertElement.appendChild(closeButton);
      alertElement.appendChild(messageElement);

      alertContainer.appendChild(alertElement);

      // Calculate the top position for the alert
      var alertHeight = alertElement.offsetHeight;
      var alertCount = alertContainer.getElementsByClassName('alert').length;
      var alertTop = (alertCount - 1) * (alertHeight+2);

      // Set the top position dynamically
      alertElement.style.top = alertTop + 'px';

      setTimeout(function() {
        alertElement.classList.add('show');
      }, 10);

      setTimeout(function() {
        alertElement.classList.remove('show');
        setTimeout(function() {
          alertContainer.removeChild(alertElement);
        }, 300);
      }, 3000);
    }
  </script>
<title>Forensic VM Server</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
body {font-family: "Times New Roman", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 2px;
}
</style>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar w3-white w3-padding w3-card" style="letter-spacing:4px;">
    <a href="#home" class="w3-bar-item w3-button">Forensic VM Server</a>
    <!-- Right-sided navbar links. Hide them on small screens -->
    <div class="w3-right w3-hide-small">
      <a href="netdata" target=”_blank” class="w3-bar-item w3-button">Server Status</a>      
      <a href="shell" target=”_blank” class="w3-bar-item w3-button">Shell</a>      
      <a href="vm-list" class="w3-bar-item w3-button">List VM's</a>      
      <a href="logout" class="w3-bar-item w3-button">Logout</a>      
    </div>
  </div>
</div>

<!-- Header -->
<header class="w3-display-container w3-content w3-wide" style="max-width:1600px;min-width:500px" id="home">  
  <div class="w3-display-bottomleft w3-padding-large w3-opacity">
    <h1 class="w3-xxlarge"></h1>
  </div>
</header>
<br>
<br>
<br>
<!-- Page content -->
<div class="w3-content" style="max-width:1100px">
<div id="alertContainer"></div>
  {% block content %}{% endblock %}
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-32">
 Copyright (c) 2023 Nuno Mourinho - This software was created as part of a Master's degree in Cybersecurity Engineering at Escola Superior de Tecnologia e Gestão de Beja. All rights reserved <br>
 This software is provided as-is, without warranty of any kind. Use at your own risk.
</footer>
</body>
  {% block endbody %}{% endblock %}
</html>

